.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo-header);
    color: var(--cor-fonte-header);
    font-size: 40px;
    height: 65px;
}
.cabecalho img {
    height: 1em;
}